ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 24px auto;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-link {
  width: 360px;
  height: 200px;
}


.gallery-link img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background: #fff;
}

label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover,
textarea:hover {
  border: 1px solid #000;
}

input:focus,
textarea:focus {
  border: 1px solid #808080;
  outline: none;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 8px;
  width: 95px;
  background: #4e75ff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background: #6c8cff;
}